/Laboratory/Nexys4/Lab_02/scr/sources/solution_lab_02.sv
/Laboratory/Nexys4/Lab_03/scr/sources/solution_auxiliary.sv
/Laboratory/Nexys4/Lab_03/scr/sources/solution_seven_digit_display.sv
/Laboratory/Nexys4/Lab_04/scr/sources/solution_sequential_logic.sv
/Laboratory/Nexys4/Lab_04/scr/sources/solution_counter.sv
/Laboratory/Nexys4/Lab_04/scr/sources/solution_display.sv
/Laboratory/Nexys4/Lab_05/scr/sources/solution_moore.sv
/Laboratory/Nexys4/Lab_05/scr/sources/solution_mealy.sv

